# edit here
# def/undef for local target
# RF(3G) models
gd1zc="CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_WLAN_REGION_CODE=300"
gd1zc_undef="TARGET_LOCALE_EUR"
gd1zn="CONFIG_TARGET_LOCALE_CHN=y \
       	CONFIG_WLAN_REGION_CODE=300"
gd1zn_undef="TARGET_LOCALE_EUR"
gd1zs="CONFIG_TARGET_LOCALE_CHN=y"
gd1zs_undef="TARGET_LOCALE_EUR"
gd1ktt="CONFIG_TARGET_LOCALE_KOR=y"
gd1ktt_undef="TARGET_LOCALE_EUR"
gd1skt="CONFIG_TARGET_LOCALE_KOR=y"
gd1skt_undef="TARGET_LOCALE_EUR"
gd1att="CONFIG_TARGET_LOCALE_USA=y"
gd1att_undef="TARGET_LOCALE_EUR"
# WIFI models
gd1wifi="CONFIG_EXYNOS4X12_1000MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y"
gd1wifi_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC"
gd1wifizc="CONFIG_EXYNOS4X12_1000MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y \
	CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_WLAN_REGION_CODE=300"
gd1wifizc_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	TARGET_LOCALE_EUR"
gd1wifizn="CONFIG_EXYNOS4X12_1000MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y \
	CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_WLAN_REGION_CODE=300"
gd1wifizn_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	TARGET_LOCALE_EUR"
gd1wifizs="CONFIG_EXYNOS4X12_1000MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y \
	CONFIG_TARGET_LOCALE_CHN=y"
gd1wifizs_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	TARGET_LOCALE_EUR"
gd1wifiany="CONFIG_EXYNOS4X12_1000MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y \
	CONFIG_TARGET_LOCALE_KOR=y"
gd1wifiany_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	TARGET_LOCALE_EUR"
