# edit here
# def/undef for local target
# RF(3G) models
gd1zc="CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_WLAN_REGION_CODE=300"
gd1zc_undef="TARGET_LOCALE_EUR"
gd1zn="CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_WLAN_REGION_CODE=300"
gd1zn_undef="TARGET_LOCALE_EUR"
gd1zs="CONFIG_TARGET_LOCALE_CHN=y"
gd1zs_undef="TARGET_LOCALE_EUR"
gd1ktt="CONFIG_TARGET_LOCALE_KOR=y"
gd1ktt_undef="TARGET_LOCALE_EUR"
gd1skt="CONFIG_TARGET_LOCALE_KOR=y \
	CONFIG_XFRM_USER=y \
	CONFIG_INET_IPCOMP=y \
	CONFIG_CRYPTO_XCBC=y \
	CONFIG_CRYPTO_NULL=y"
gd1skt_undef="TARGET_LOCALE_EUR"
gd1att="CONFIG_TARGET_LOCALE_USA=y \
	CONFIG_MACH_GC1_USA_ATT=y"
gd1att_undef="TARGET_LOCALE_EUR"
# LTE models
gd1ltevzw="CONFIG_TARGET_LOCALE_USA=y \
	   CONFIG_QC_MODEM=y \
	   CONFIG_USB_USBNET=y \
	   CONFIG_USB_SERIAL_QUALCOMM=y \
	   CONFIG_MACH_GC1_USA_VZW=y \
	   CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m"
gd1ltevzw_undef="TARGET_LOCALE_EUR \
		 SEC_MODEM"
gd1lte="CONFIG_QC_MODEM=y \
	CONFIG_USB_USBNET=y \
	CONFIG_USB_SERIAL_QUALCOMM=y"
gd1lte_undef="SEC_MODEM"
gd1lteskt="CONFIG_TARGET_LOCALE_KOR=y \
	CONFIG_QC_MODEM=y \
	CONFIG_USB_USBNET=y \
	CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_MACH_GC1_KOR_SKT=y"
gd1lteskt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM"
gd1ltektt="CONFIG_TARGET_LOCALE_KOR=y \
	CONFIG_QC_MODEM=y \
	CONFIG_USB_USBNET=y \
	CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_MACH_GC1_KOR_KT=y"
gd1ltektt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM"
gd1ltelgt="CONFIG_TARGET_LOCALE_KOR=y \
	CONFIG_QC_MODEM=y \
	CONFIG_USB_USBNET=y \
	CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_MACH_GC1_KOR_LGT=y"
gd1ltelgt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM"
# WIFI models
gd1wifi="CONFIG_EXYNOS4X12_1000MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y"
gd1wifi_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC"
gd1wifizc="CONFIG_EXYNOS4X12_1000MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y \
	CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_WLAN_REGION_CODE=300"
gd1wifizc_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	TARGET_LOCALE_EUR"
gd1wifizn="CONFIG_EXYNOS4X12_1000MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y \
	CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_WLAN_REGION_CODE=300"
gd1wifizn_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	TARGET_LOCALE_EUR"
gd1wifizs="CONFIG_EXYNOS4X12_1000MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y \
	CONFIG_TARGET_LOCALE_CHN=y"
gd1wifizs_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	TARGET_LOCALE_EUR"
gd1wifiany="CONFIG_EXYNOS4X12_1000MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y \
	CONFIG_TARGET_LOCALE_KOR=y"
gd1wifiany_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	TARGET_LOCALE_EUR"
