# edit here
# def/undef for local target
ja3gduos_chn_ctc="CONFIG_MACH_J_CHN_CTC=y \
	CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_J_CHN_CTC_REV01=y \
	CONFIG_SEC_MODEM_IF=y \
	CONFIG_SEC_MODEM_J_CTC=y \
	CONFIG_SWITCH_DUAL_MODEM=y \
	CONFIG_LINK_DEVICE_PLD=y \
	CONFIG_CDMA_MODEM_MDM6600=y \
	CONFIG_GSM_MODEM_ESC6270=y \
	CONFIG_SIM_SLOT_SWITCH=y \
	CONFIG_SND_DUOS_MODEM_SWITCH=y \
	CONFIG_SND_SOC_ADONISDUOS_YMU831=y \
	CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_USB_SERIAL_CONSOLE=y \
	CONFIG_WLAN_REGION_CODE=300 \
	CONFIG_RTC_ALARM_BOOT=y"
ja3gduos_chn_ctc_undef="SEC_MODEM_V2 \
	LINK_DEVICE_HSIC SEC_MODEM_M0_XMM6360 \
	SAMSUNG_MHL_8240 \
	SND_SOC_ADONISUNIV_YMU831 \
	SND_SOC_ADONISUNIV_WM5102 \
	2MIC_AUDIENCE_ES325 \
	HDMI_SWITCH_HPD \
	MUIC_MAX77803_SUPPORT_MHL_CABLE_DETECTION \
	VIDEO_EXYNOS_HDMI_CEC \
	GPS_BCMxxxxx \
	GPS_BCM47521"
ja3gduos_chn_cu="CONFIG_MACH_J_CHN_CU=y \
	CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_SEC_MODEM_J_CU=y \
	CONFIG_SWITCH_DUAL_MODEM=y \
	CONFIG_LINK_DEVICE_PLD=y \
	CONFIG_SND_DUOS_MODEM_SWITCH=y \
	CONFIG_SND_SOC_ADONISDUOS_YMU831=y \
	CONFIG_GSM_MODEM_ESC6270=y \
	CONFIG_WLAN_REGION_CODE=300 \
	CONFIG_RTC_ALARM_BOOT=y"
ja3gduos_chn_cu_undef="SND_SOC_ADONISUNIV_WM5102 \
	SAMSUNG_MHL_8240 \
	HDMI_SWITCH_HPD \
	MUIC_MAX77803_SUPPORT_MHL_CABLE_DETECTION \
	VIDEO_EXYNOS_HDMI_CEC \
	2MIC_AUDIENCE_ES325"
ja3g_chn_open="CONFIG_MACH_J_CHN_OPEN=y \
	CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_WLAN_REGION_CODE=300 \
	CONFIG_RTC_ALARM_BOOT=y"
