# edit here
# def/undef for local target
jalteskt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_JA_KOR_SKT=y CONFIG_KOR_B10_DEBUG=y \
	CONFIG_TDMB=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8050=y CONFIG_TDMB_EBI=y \
	CONFIG_TDMB_ANT_DET=y CONFIG_SAMSUNG_C2C=y CONFIG_C2C_IPC_ENABLE=y \
	CONFIG_UMTS_MODEM_SS222=y CONFIG_LINK_DEVICE_C2C=y CONFIG_C2C_USE_4MB=y \
	CONFIG_SEC_MODEM=y CONFIG_SEC_MODEM_V1=y CONFIG_SEC_MODEM_J_SKT=y \
	CONFIG_JA_LTE_KOR_REV00=y CONFIG_WLAN_REGION_CODE=201 \
	CONFIG_GPS_BCMxxxxx=y CONFIG_GPS_BCM47521=y \
	CONFIG_TCP_CONG_ADVANCED=y CONFIG_TCP_CONG_BIC=y CONFIG_DEFAULT_BIC=y CONFIG_DEFAULT_TCP_CONG="bic" \
	CONFIG_XFRM=y CONFIG_XFRM_USER=y CONFIG_INET_IPCOMP=y CONFIG_INET_XFRM_MODE_TRANSPORT=y \
	CONFIG_CRYPTO_HMAC=y CONFIG_CRYPTO_XCBC=y CONFIG_CRYPTO_NULL=y CONFIG_CRYPTO_MD5=y \
	CONFIG_CRYPTO_DES=y CONFIG_CRYPTO_DEFLATE=y \
	CONFIG_EXYNOS5_C2_STATE_IDLE=y \
	CONFIG_SND_USE_YMU831_LDODE_GPIO=y \
	CONFIG_SEC_FILE_LEAK_DEBUG=y CONFIG_SEC_DEBUG_TIMER_LOG=y \
	CONFIG_ANDROID_WIP=y CONFIG_SEC_LOG_LAST_KMSG=y CONFIG_ANDROID_PERSISTENT_RAM=y \
	CONFIG_SENSORS_SSP_SHTC1_VER=\"SHV-E300S\""
jalteskt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_PRIMITIVE SEC_MODEM_M0_XMM6360 UMTS_MODEM_XMM6360 \
	QC_MODEM USB_SERIAL_CONSOLE USB_USBNET ANDROID_RAM_CONSOLE \
	USB_SERIAL_CSVT USB_SERIAL_QUALCOMM USE_GPIO_AP_MCU_RXTXD"
jaltektt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_JA_KOR_KT=y CONFIG_KOR_B10_DEBUG=y \
	CONFIG_TDMB=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8050=y CONFIG_TDMB_EBI=y \
	CONFIG_TDMB_ANT_DET=y CONFIG_SAMSUNG_C2C=y CONFIG_C2C_IPC_ENABLE=y \
	CONFIG_UMTS_MODEM_SS222=y CONFIG_LINK_DEVICE_C2C=y CONFIG_C2C_USE_4MB=y \
	CONFIG_SEC_MODEM=y CONFIG_SEC_MODEM_V1=y CONFIG_SEC_MODEM_J_KTT=y \
	CONFIG_JA_LTE_KOR_REV00=y CONFIG_WLAN_REGION_CODE=202 \
	CONFIG_GPS_BCMxxxxx=y CONFIG_GPS_BCM47521=y \
	CONFIG_EXYNOS5_C2_STATE_IDLE=y \
	CONFIG_SND_USE_YMU831_LDODE_GPIO=y \
	CONFIG_SEC_FILE_LEAK_DEBUG=y CONFIG_SEC_DEBUG_TIMER_LOG=y \
	CONFIG_ANDROID_WIP=y CONFIG_SEC_LOG_LAST_KMSG=y CONFIG_ANDROID_PERSISTENT_RAM=y \
	CONFIG_SENSORS_SSP_SHTC1_VER=\"SHV-E300K\""
jaltektt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_PRIMITIVE SEC_MODEM_M0_XMM6360 UMTS_MODEM_XMM6360 \
	QC_MODEM USB_SERIAL_CONSOLE USB_USBNET ANDROID_RAM_CONSOLE \
	USB_SERIAL_CSVT USB_SERIAL_QUALCOMM USE_GPIO_AP_MCU_RXTXD"
jaltelgt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_JA_KOR_LGT=y CONFIG_KOR_B10_DEBUG=y \
	CONFIG_TDMB=y CONFIG_TDMB_VENDOR_TELECHIPS=y CONFIG_TDMB_TCC3170=y CONFIG_TDMB_SPI=y \
	CONFIG_TDMB_ANT_DET=y CONFIG_JA_LTE_KOR_REV00=y CONFIG_WLAN_REGION_CODE=203 \
	CONFIG_LGUIWLAN=y CONFIG_EXYNOS5_C2_STATE_IDLE=y \
	CONFIG_SND_USE_YMU831_LDODE_GPIO=y \
	CONFIG_SEC_FILE_LEAK_DEBUG=y CONFIG_SEC_DEBUG_TIMER_LOG=y \
	CONFIG_ANDROID_WIP=y CONFIG_SEC_LOG_LAST_KMSG=y CONFIG_ANDROID_PERSISTENT_RAM=y \
	CONFIG_SENSORS_SSP_SHTC1_VER=\"SHV-E300L\""
jaltelgt_undef="TARGET_LOCALE_EUR ANDROID_RAM_CONSOLE"
jaltedcm="CONFIG_TARGET_LOCALE_JPN=y CONFIG_MACH_JA_JPN_DCM=y \
	CONFIG_ISDBTMM=y CONFIG_TMM_ANT_DET=y CONFIG_FELICA=y CONFIG_NFC_FELICA=y \
	CONFIG_EXYNOS5_C2_STATE_IDLE=y \
	CONFIG_SND_USE_YMU831_LDODE_GPIO=y"
jaltedcm_undef="TARGET_LOCALE_EUR NFC_DEVICES BCM2079X_NFC_I2C"
