# edit here
# def/undef for local target
m3vzw="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_M3_USA_VZW=y"
m3vzw_undef="TARGET_LOCALE_EUR \
	SND_USE_LINEOUT_SWITCH USB_SERIAL_CSVT"
m3spr="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_M3_USA_SPR=y"
m3spr_undef="TARGET_LOCALE_EUR \
	SND_USE_LINEOUT_SWITCH USB_SERIAL_CSVT"
m3tmo="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_M3_USA_TMO=y"
m3tmo_undef="TARGET_LOCALE_EUR \
	SND_USE_LINEOUT_SWITCH USB_SERIAL_CSVT"
m3att="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_M3_USA_ATT=y"
m3att_undef="TARGET_LOCALE_EUR \
	SND_USE_LINEOUT_SWITCH USB_SERIAL_CSVT"
m3dcm="CONFIG_TARGET_LOCALE_JPN=y CONFIG_MACH_M3_JPN_DCM=y \
	CONFIG_EXYNOS4_MSHC_SUPPORT_PQPRIME_EPLL=y \
	CONFIG_FELICA=y CONFIG_ISDBT=y CONFIG_ISDBT_FC8150=y"
m3dcm_undef="TARGET_LOCALE_EUR \
	SND_USE_LINEOUT_SWITCH USB_SERIAL_CSVT NFC_DEVICES PN65N_NFC"
