# edit here
# def/undef for local target
m3tmo="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_M3_USA_TMO=y CONFIG_LCD_REVERSE=y \
	CONFIG_SENSORS_AK8963C=y CONFIG_SENSORS_GP2A=y \
	CONFIG_LEDS_MAX77693=y \
	CONFIG_SND_SOC_SAMSUNG_T0_WM1811=y CONFIG_EXYNOS_SOUND_PLATFORM_DATA=y"
m3tmo_undef="TARGET_LOCALE_EUR SENSORS_AK8975C SENSORS_LPS331 \
	BATTERY_WPC_CHARGER \
	SND_USE_LINEOUT_SWITCH USB_SERIAL_CSVT LEDS_AAT1290A \
	SND_SOC_SAMSUNG_M3_WM1811 SND_USE_SUB_MIC"
m3dcm="CONFIG_TARGET_LOCALE_JPN=y CONFIG_MACH_M3_JPN_DCM=y \
	CONFIG_EXYNOS4_MSHC_SUPPORT_PQPRIME_EPLL=y \
	CONFIG_SLUB_DEBUG_ON=y \
	CONFIG_FELICA=y CONFIG_ISDBT=y CONFIG_ISDBT_FC8150=y"
m3dcm_undef="TARGET_LOCALE_EUR \
	BATTERY_WPC_CHARGER \
	SND_USE_LINEOUT_SWITCH USB_SERIAL_CSVT NFC_DEVICES PN65N_NFC"
