# edit here
# def/undef for local target
p4notepqlte_att="CONFIG_TARGET_LOCALE_USA=y"
p4notepqlte_att_undef="TARGET_LOCALE_EUR"
p4notepqlte_spr="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_P4NOTELTE_USA_SPR=y CONFIG_MACH_USA_CTIA=y"
p4notepqlte_spr_undef="TARGET_LOCALE_EUR"
p4notepqlte_vzw="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_P4NOTELTE_USA_VZW=y CONFIG_MACH_USA_CTIA=y \
	CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m"
p4notepqlte_vzw_undef="TARGET_LOCALE_EUR"
p4notepqlte_uscc="CONFIG_TARGET_LOCALE_USA=y"
p4notepqlte_uscc_undef="TARGET_LOCALE_EUR"
p4notepqlte_skt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_P4NOTELTE_KOR_SKT=y \
	CONFIG_XFRM_USER=y CONFIG_INET_IPCOMP=y CONFIG_CRYPTO_NULL=y \
	CONFIG_CRYPTO_XCBC=y CONFIG_WLAN_REGION_CODE=201 CONFIG_TCP_CONG_ADVANCED=y \
	CONFIG_TCP_CONG_BIC=y CONFIG_DEFAULT_BIC=y CONFIG_DEFAULT_TCP_CONG="bic""
p4notepqlte_skt_undef="TARGET_LOCALE_EUR TCP_CONG_CUBIC DEFAULT_TCP_CONG"
p4notepqlte_ktt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_P4NOTELTE_KOR_KT=y \
	CONFIG_WLAN_REGION_CODE=202"
p4notepqlte_ktt_undef="TARGET_LOCALE_EUR"
p4notepqlte_lgt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_P4NOTELTE_KOR_LGT=y \
	CONFIG_LGUIWLAN=y CONFIG_WLAN_REGION_CODE=203"
p4notepqlte_lgt_undef="TARGET_LOCALE_EUR"
