# edit here
# def/undef for local target
t0att="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_ATT=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y"
t0att_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO USB_SERIAL_CSVT"
t0tmo="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_TMO=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y"
t0tmo_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO USB_SERIAL_CSVT"
t0vzw="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_VZW=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y"
t0vzw_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO USB_SERIAL_CSVT"
t0spr="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_SPR=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y"
t0spr_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO USB_SERIAL_CSVT"
t0uscc="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_USCC=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y"
t0uscc_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO USB_SERIAL_CSVT"
t0lte="CONFIG_MACH_T0_EUR_LTE=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y"
t0lte_undef="SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO"
t0skt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_T0_KOR_SKT=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_TDMB=y CONFIG_TDMB_SPI=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8050=y\
	CONFIG_WLAN_REGION_CODE=201"
t0skt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC"
t0ktt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_T0_KOR_KT=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_TDMB=y CONFIG_TDMB_SPI=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8050=y\
	CONFIG_WLAN_REGION_CODE=202"
t0ktt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC"
t0lgt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_T0_KOR_LGT=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_TDMB=y CONFIG_TDMB_SPI=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8050=y\
	CONFIG_WLAN_REGION_CODE=203"
t0lgt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC"
t0zc="CONFIG_TARGET_LOCALE_CHN=y CONFIG_MACH_T0_CHN_OPEN=y \
	CONFIG_RTC_ALARM_BOOT=y"
t0zc_undef="TARGET_LOCALE_EUR"
t0zm="CONFIG_TARGET_LOCALE_CHN=y CONFIG_MACH_T0_CHN_CMCC=y \
	CONFIG_RTC_ALARM_BOOT=y"
t0zm_undef="TARGET_LOCALE_EUR"
t0ctc="CONFIG_TARGET_LOCALE_CHN=y CONFIG_MACH_T0_CHN_CTC=y \
	CONFIG_RTC_ALARM_BOOT=y"
t0ctc_undef="TARGET_LOCALE_EUR"
