# edit here
# def/undef for local target
t0att="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_ATT=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m"
t0att_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO USB_SERIAL_CSVT"
t0tmo="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_TMO=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m"
t0tmo_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO USB_SERIAL_CSVT"
t0vzw="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_VZW=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m"
t0vzw_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO USB_SERIAL_CSVT LEDS_SWITCH"
t0spr="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_SPR=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m"
t0spr_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO USB_SERIAL_CSVT LEDS_SWITCH"
t0uscc="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_USCC=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m"
t0uscc_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO USB_SERIAL_CSVT LEDS_SWITCH"
t0lte="CONFIG_MACH_T0_EUR_LTE=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y"
t0lte_undef="SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO"
t0ltedcm="CONFIG_TARGET_LOCALE_JPN=y CONFIG_MACH_T0_JPN_LTE_DCM=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_FELICA=y CONFIG_FELICA_DIAG=y \
	CONFIG_ISDBT=y CONFIG_ISDBT_FC8150=y \
	CONFIG_LEDS_AAT1290A=y CONFIG_MMC_CPRM=y \
	CONFIG_ISDBT_ANT_DET=y CONFIG_SEC_SUBTHERMISTOR=y"
t0ltedcm_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	BATTERY_WPC_CHARGER \
	LEDS_MAX77693 FM_RADIO NFC_DEVICES PN65N_NFC"
t0gqltedcm="CONFIG_TARGET_LOCALE_JPN=y CONFIG_MACH_T0GQ_JPN_LTE_DCM=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_JACK_FET=y CONFIG_FELICA=y CONFIG_FELICA_DIAG=y \
	CONFIG_ISDBT=y CONFIG_ISDBT_FC8150=y CONFIG_JACK_GROUND_DET=y \
	CONFIG_LEDS_AAT1290A=y CONFIG_FB_S5P_S6E8AA0=y \
	CONFIG_SND_USE_SUB_MIC=y"
t0gqltedcm_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	LEDS_MAX77693 FM_RADIO NFC_DEVICES PN65N_NFC FB_S5P_S6EVR02"
t0skt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_T0_KOR_SKT=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_TDMB=y CONFIG_TDMB_SPI=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8050=y \
	CONFIG_TDMB_ANT_DET=y CONFIG_JACK_FET=y \
	CONFIG_WLAN_REGION_CODE=201 CONFIG_XFRM_USER=y CONFIG_INET_IPCOMP=y \
	CONFIG_CRYPTO_XCBC=y CONFIG_CRYPTO_NULL=y \
	CONFIG_TCP_CONG_ADVANCED=y CONFIG_TCP_CONG_BIC=y \
	CONFIG_DEFAULT_BIC=y CONFIG_DEFAULT_TCP_CONG="bic""
t0skt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO TCP_CONG_CUBIC DEFAULT_TCP_CONG CPU_FREQ_TETHERING"
t0ktt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_T0_KOR_KT=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_TDMB=y CONFIG_TDMB_SPI=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8050=y \
	CONFIG_TDMB_ANT_DET=y CONFIG_JACK_FET=y \
	CONFIG_WLAN_REGION_CODE=202"
t0ktt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO CPU_FREQ_TETHERING"
t0lgt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_T0_KOR_LGT=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_TDMB=y CONFIG_TDMB_SPI=y CONFIG_TDMB_VENDOR_FCI=y CONFIG_TDMB_FC8050=y \
	CONFIG_TDMB_ANT_DET=y CONFIG_JACK_FET=y \
	CONFIG_WLAN_REGION_CODE=203 \
        CONFIG_LGUIWLAN=y"
t0lgt_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	FM_RADIO CPU_FREQ_TETHERING"
t0zc="CONFIG_TARGET_LOCALE_CHN=y CONFIG_MACH_T0_CHN_OPEN=y CONFIG_WLAN_REGION_CODE=300 \
	CONFIG_RTC_ALARM_BOOT=y"
t0zc_undef="TARGET_LOCALE_EUR"
t0zn="CONFIG_TARGET_LOCALE_CHN=y CONFIG_MACH_T0_CHN_CU=y CONFIG_WLAN_REGION_CODE=300 \
	CONFIG_RTC_ALARM_BOOT=y"
t0zn_undef="TARGET_LOCALE_EUR"
t0znduos="CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_LINK_DEVICE_PLD=y CONFIG_GSM_MODEM_ESC6270=y \
	CONFIG_SEC_MODEM_T0_CU_DUOS=y CONFIG_MACH_T0_CHN_CU_DUOS=y \
	CONFIG_SND_SOC_SAMSUNG_T0DUOS_WM1811=y \
	CONFIG_SND_DUOS_MODEM_SWITCH=y \
	CONFIG_SWITCH_DUAL_MODEM=y \
	CONFIG_WLAN_REGION_CODE=300 \
	CONFIG_RTC_ALARM_BOOT=y"
t0znduos_undef="TARGET_LOCALE_EUR \
	SAMSUNG_MHL SAMSUNG_SMARTDOCK \
	SAMSUNG_MHL \
	SAMSUNG_WORKAROUND_HPD_GLANCE \
	BATTERY_WPC_CHARGER \
	SND_SOC_SAMSUNG_T0_WM1811 \
	FM_RADIO FM_SI4705"
t0zcduos="CONFIG_TARGET_LOCALE_CHN=y \
        CONFIG_LINK_DEVICE_PLD=y CONFIG_GSM_MODEM_ESC6270=y \
        CONFIG_SEC_MODEM_T0_OPEN_DUOS=y CONFIG_MACH_T0_CHN_OPEN_DUOS=y \
        CONFIG_SND_SOC_SAMSUNG_T0DUOS_WM1811=y \
	 CONFIG_SND_DUOS_MODEM_SWITCH=y \
        CONFIG_SWITCH_DUAL_MODEM=y \
	CONFIG_WLAN_REGION_CODE=300 \
        CONFIG_RTC_ALARM_BOOT=y"
t0zcduos_undef="TARGET_LOCALE_EUR \
        SAMSUNG_MHL SAMSUNG_SMARTDOCK \
        SAMSUNG_MHL \
        SAMSUNG_WORKAROUND_HPD_GLANCE \
        BATTERY_WPC_CHARGER \
        SND_SOC_SAMSUNG_T0_WM1811 \
        FM_RADIO FM_SI4705"
t0zm="CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_MACH_T0_CHN_CMCC=y \
	CONFIG_SND_SOC_SAMSUNG_T0DUOS_WM1811=y \
	CONFIG_SND_DUOS_MODEM_SWITCH=y CONFIG_SWITCH_DUAL_MODEM=y \
	CONFIG_LINK_DEVICE_SPI=y CONFIG_TDSCDMA_MODEM_SPRD8803=y \
	CONFIG_SEC_MODEM_T0_TD_DUAL=y CONFIG_WORKQUEUE_FRONT=y \
	CONFIG_CHN_CMCC_SPI_SPRD=y CONFIG_SEC_DUAL_MODEM_MODE=y \
	CONFIG_WLAN_REGION_CODE=300 \
	CONFIG_RTC_ALARM_BOOT=y"
t0zm_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 SAMSUNG_MHL HDMI_EARJACK_MUTE HDMI_HPD HDMI_SWITCH_HPD \
	HDMI_14A_3D HDMI_PHY_32N TV_FB USER_ALLOC_TVOUT LSI_HDMI_AUDIO_CH_EVENT \
	FM_RADIO FM_SI4705 \
	S5P_DEV_TVOUT \
	EXYNOS4_SETUP_TVOUT \
	VIDEO_TVOUT \
	VIDEO_TVOUT_5_1CH_AUDIO \
	SND_SOC_SAMSUNG_T0_WM1811 \
	SND_SOC_SAMSUNG_T0_WM1811 BATTERY_WPC_CHARGER"
t0ctc="CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_MACH_T0_CHN_CTC=y \
	CONFIG_SEC_MODEM_M0_CTC=y \
	CONFIG_USBHUB_USB3503=y \
	CONFIG_CDMA_MODEM_MDM6600=y \
	CONFIG_LINK_DEVICE_PLD=y \
	CONFIG_GSM_MODEM_ESC6270=y \
	CONFIG_RTC_ALARM_BOOT=y \
	CONFIG_SWITCH_DUAL_MODEM=y \
	CONFIG_SND_SOC_SAMSUNG_T0DUOS_WM1811=y \
	CONFIG_SND_DUOS_MODEM_SWITCH=y \
	CONFIG_SIM_SLOT_SWITCH=y \
	CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_RTC_ALARM_BOOT=y \
	CONFIG_WLAN_REGION_CODE=300 \
	CONFIG_SWITCH_USB_PATH_AUTO=y"
t0ctc_undef="TARGET_LOCALE_EUR \
	SEC_MODEM_M0 UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC LINK_DEVICE_DPRAM \
	FM_RADIO \
	SAMSUNG_MHL \
	SAMSUNG_USE_11PIN_CONNECTOR \
	SAMSUNG_SMARTDOCK \
	SAMSUNG_WORKAROUND_HPD_GLANCE \
	SND_SOC_SAMSUNG_T0_WM1811 \
	USB_SERIAL_PL2303 \
	USB_SERIAL_CSVT \
	BARCODE_EMUL \
	BATTERY_WPC_CHARGER \
	BARCODE_EMUL_ICE4"
