menuconfig VITHAR
	tristate "Enable Vithar DDK"
	default n
	help
	  Choose this option to enable 3D rendering with vithar DDK.

config VITHAR_DVFS
	bool "Enable DVFS"
	depends on VITHAR
	default n
	help
	  Choose this option to enable DVFS on vithar DDK.

config VITHAR_DEMAND_POLICY
	bool "Enable demand power policy by default"
	depends on VITHAR
	default n
	help
	  Sets the default power policy to "demand"

config VITHAR_ENABLE_DS5
	bool "Enable DS5"
	depends on VITHAR
	default n
	help
	  Choose this option to enable DS5 on vithar DDK.

config VITHAR_ENABLE_TRACE
       bool "Enable kbase tracing"
       depends on VITHAR
       default n
       help
         Enables tracing in the kbase.  Trace log available through
	 the "mali_trace" debugfs file

config VITHAR_DEBUG_SYS
       bool "Enable sysfs for vithar"
       depends on VITHAR
       default n
       help
         Enables sysfs for vithar device. Set/Monitor Vithar Device
