#
#
#
menuconfig VIBETONZ
	tristate "Vibetonz"
	help
	  Say Y to enable Vibetonz support.

config MOTOR_DRV_MAX77803
	tristate "Maxim MAX77803 motor"
	default n
	depends on MFD_MAX77803
	help
	  If you say yes here you will get support for the
	  motor of Maxim MAX77803 PMIC.

