config STM_FW
           tristate "STM Framework Driver Support"
           default n
           help
                     STM Framework Driver

config STM_OMAP_TI1_0
           tristate "STM OMAP TI1.0 Drvier"
           depends on STM_FW
           default n
           help
	 STM OMAP TI1.0 Driver - provides Syet, Trace Macrocell
	 support for V1.0 implementation found in, eg, OMAP4

config STM_ARM
           tristate "STM ARM Driver"
           depends on STM_FW
           default n
           help
	 STM ARM Driver - provides System Trace Macrocell
	 support for ARM V2.0 implementation found in, eg, OMAP5


