# These are options needed to make the Ubuntu
# config enforce script happy.  No other options
# should be put here.  These should work for any
# flavour.
#
# CONFIG_COMPAT_BRK is not set
# CONFIG_DEVKMEM is not set
CONFIG_LSM_MMAP_MIN_ADDR=0
CONFIG_SECURITY_NETWORK=y
CONFIG_AUDIT=y
CONFIG_SECURITY=y
CONFIG_SECURITY_SELINUX=y
CONFIG_NETLABEL=y
CONFIG_SECURITY_SMACK=y
CONFIG_SECURITY_YAMA=y
CONFIG_SYN_COOKIES=y
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_SECCOMP=y
CONFIG_CC_STACKPROTECTOR=y
CONFIG_STRICT_DEVMEM=y
CONFIG_DEFAULT_MMAP_MIN_ADDR=32768
CONFIG_USB=y
# CONFIG_USB_DEVICEFS is not set
CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=65536
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_INPUT=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_UINPUT=y
# CONFIG_IMA is not set
CONFIG_NET=y
CONFIG_INET=y
CONFIG_IPV6=y
CONFIG_PRINTK_TIME=y
CONFIG_BTRFS_FS=y
CONFIG_LIBCRC32C=y
CONFIG_DEBUG_KERNEL=y
CONFIG_TIMER_STATS=y
CONFIG_PROFILING=y
CONFIG_PERF_EVENTS=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_FTRACE=y
CONFIG_ENABLE_DEFAULT_TRACERS=y
CONFIG_GENERIC_TRACER=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_EXT2_FS=y
CONFIG_EXT3_FS=y
CONFIG_EXT4_FS=y
CONFIG_PM_DEBUG=y
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_INIT_PASS_ALL_PARAMS=y

