#
# Accessory Configuration
#

menuconfig ACCESSORY
	bool "Accessory devices"
	default n
	---help---
	Say Y here to get to see options for Samsung Accessories
	If you say N, all options in this submenu will be skipped and disabled.

if ACCESSORY

config 30PIN_CONN
        tristate "Accessory detection driver"
        depends on I2C
        help
         Provides support for detecting Accessory,such as TA, Keyboard

config SEC_KEYBOARD_DOCK
	tristate "sec keyboard dock support"

endif # ACCESSORY



